@use '../base/variables' as v;


/* Estilos generales */
body {
    font-family: v.$font-main;
    margin: 0;
    padding: 0;
    background-color: v.$background-color; /* Fondo oscuro */
    overflow-x: hidden; 
    
}

/* Contenedor principal */
.container {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box; /* Asegura que el padding y border no aumenten el tamaño total */
}
  
#scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  }
  
  #scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  